/* ============================= GOALS ========================== */
.sponsors {
    background: var(--color-bg1);
    height: 26rem;
}

.sponsors h2 {
    text-align: left;
    line-height: 1;
    margin-bottom: 2rem;
}

.sponsors__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.sponsors__left {
    margin-right: 4rem;
}

.sponsors__left p {
    margin: 1rem 0 2rem;
    font-size: 0.9rem;
}

.sponsors__left .btn {
    cursor: pointer;
    border-radius: 5px;
    padding: 0.7rem 1.5rem;
}

.sponsors__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.sponsor {
    background: var(--color-bg2);
    padding: 2rem;
    border-radius: 2rem;
    transition: var(--transition);
    color: var(--color-white);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);

}

.sponsor:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.sponsor:nth-child(1) .sponsor__icon {
    background: var(--color-red);
}

.sponsor:nth-child(2) .sponsor__icon {
    background: var(--color-success);
}

.sponsor:nth-child(3) .sponsor__icon {
    background: var(--color-warning);
}

.sponsor__icon {
    background: var(--color-primary);
    font-size: 2rem;
    padding: 0.4rem;
    border-radius: 0.9rem;
}

.sponsor h3 {
    font-size: 0.97rem;
    margin: 1.5rem 0 1rem;
}

.sponsor p {
    margin: 1.5rem 0 0;
    font-size: 0.85rem;
}




/* ======================== SPONSORS ====================== */

.our_sponsors__container {
    overflow-x: hidden;
    position: relative;
}

.our_sponsor {
    border-radius: 1rem;
    border: 1px solid transparent;
    background: var(--color-bg2);
    transition: var(--transition);
    position: relative;

}

.our_sponsor:hover {
    background: transparent;
    border-color: var(--color-primary);
}

.our_sponsor-logo {
    padding: 1rem;
    overflow: hidden;
    align-items: center;
}

.our_sponsor-logo img {
    border-radius: 1rem;
    transition: var(--transition);
}

.our_sponsor-logo:focus-within img {
    outline: 5px solid var(--color-danger);
    transform: scale(0.8);
    outline-offset: 5px;
    border-radius: 5px;
}

.our_sponsor:hover img {
    transform: scale(1.1);
}

.swiper-pagination {
    position: relative;
    padding-top: 1.5rem;
}