{{ define "customCSS" }}
    <link rel="stylesheet" href="/css/sponsors.css">
    <style>
        body {
            background-image: url("/images/bg-texture.png");
        }
    </style>
{{ end }}

{{ define "customSection" }}
<!-- ============================== START OF HEADER ===================== -->
<header class="small__header">
    <div class="container small__header__container">
        <div class="small__header__left">
            <h1>{{ .Params.Title }}</h1>
            <p>{{ .Params.Description }}</p>
        </div>

        <div class="small__header__right">
            <div class="small__header__right-image">
                <img src="/images/support.svg" alt="">
            </div>
        </div>
    </div>
</header>
<!-- ============================== END OF HEADER ===================== -->

<!-- ================================== START OF SPONSORS ============================== -->
<section class="section sponsors" id="sponsors">
    <div class="container sponsors__container">
        <div class="sponsors__left">
            <h2> Sponsor Us </h2>
            <p>  Sponsor an online event: $1000 
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, aliquam?
            </p>
            <a href="{{ ref . "contact" }}" class="btn"> Contact Us </a>
        </div>

        <div class="sponsors__right">
            <article class="sponsor">
                <span class="sponsor__icon"><i class="uil uil-megaphone"></i></span>
                <p> Your company logo on all social media announcements. </p>
            </article>

            <article class="sponsor">
                <span class="sponsor__icon"><i class="uil uil-award"></i></span>
                <p> Your company logo, name and URL on the PyMCon sponsors page. </p>
            </article>

            <article class="sponsor">
                <span class="sponsor__icon"><i class="uil uil-microphone"></i></span>
                <p> Opportunity to do a 1-3 minute intro at the beginning of the online webinar. </p>
            </article>
        </div>
    </div>
</section>
<!-- ================================== END OF SPONSORS ============================== -->
<section class="section our_sponsors" id="our_sponsors">
    {{ $sponsors := .Site.Data.sponsors}}
    <h2>{{ $sponsors.title }}</h2>
    <div class="container our_sponsors__container">
        <div class="swiper logoSlider">
            <div class="swiper-wrapper">
                {{ range $sponsor := $sponsors.sponsor}}
                    <div class="our_sponsor swiper-slide" id="{{ replace $sponsor.name " " "_" }}">
                        <div class="our_sponsor-logo">
                            <a href="{{ $sponsor.url }}">
                                <img src="/{{ $sponsor.logoPath }}" alt="logo of {{ $sponsor.name }}">
                            </a>
                        </div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="swiper-pagination logo-pagination"></div>
</section>
{{ end }}

{{ define "customJS" }}
    <!-- =============== SWIPER SLIDER =============== -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!-- =============== SPONSORS SLIDER LOGIC ================ -->
    <script>
        var swiper = new Swiper(".speakerSlider", {
            slidesPerView: 1,
            spaceBetween: 10,
            loop: false,
            autoplay: {
                delay: 3500,
                disableOnInteraction: true,
            },
            pagination: {
                el: ".speaker-pagination",
                clickable: true,
            },

            // when windows width is >= 600px
            breakpoints: {
                // for Tablate
                600: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                // for Desktop
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                },
            }
        });

        var swiper = new Swiper(".logoSlider", {
            slidesPerView: 2,
            spaceBetween: 10,
            loop: false,
            autoplay: {
                delay: 1500,
                disableOnInteraction: true,
            },
            pagination: {
                el: ".logo-pagination",
                clickable: true,
            },

            // when windows width is >= 800px
            breakpoints: {
                // for Tablate
                600: {
                    slidesPerView: 3,
                    spaceBetween: 20,
                },
                // for Desktop
                1024: {
                    slidesPerView: 4,
                    spaceBetween: 30,
                },
            }
        });
    </script>
{{ end }}